/accounts.csv
/app2.py
/emails.csv
/Geofences.csv
chrome-win/128.0.6536.0.manifest
chrome-win/chrome_100_percent.pak
chrome-win/chrome_200_percent.pak
chrome-win/chrome_elf.dll
chrome-win/chrome_proxy.exe
chrome-win/chrome_pwa_launcher.exe
chrome-win/chrome_wer.dll
chrome-win/chrome.dll
chrome-win/chrome.exe
chrome-win/D3DCompiler_47.dll
chrome-win/debug-DESKTOP-HGEDTV1.log
chrome-win/debug.log
chrome-win/dxcompiler.dll
chrome-win/dxil.dll
chrome-win/elevation_service.exe
chrome-win/eventlog_provider.dll
chrome-win/First Run
chrome-win/icudtl.dat
chrome-win/interactive_ui_tests.exe
chrome-win/libEGL.dll
chrome-win/libGLESv2.dll
chrome-win/mojo_core.dll
chrome-win/notification_helper.exe
chrome-win/resources.pak
chrome-win/v8_context_snapshot.bin
chrome-win/vk_swiftshader_icd.json
chrome-win/vk_swiftshader.dll
chrome-win/vulkan-1.dll
chrome-win/MEIPreload/manifest.json
chrome-win/MEIPreload/preloaded_data.pb
chrome-win/locales/af.pak
chrome-win/locales/am.pak
chrome-win/locales/ar-XB.pak
chrome-win/locales/ar.pak
chrome-win/locales/bg.pak
chrome-win/locales/bn.pak
chrome-win/locales/ca.pak
chrome-win/locales/cs.pak
chrome-win/locales/da.pak
chrome-win/locales/de.pak
chrome-win/locales/el.pak
chrome-win/locales/en-GB.pak
chrome-win/locales/en-US.pak
chrome-win/locales/en-XA.pak
chrome-win/locales/es-419.pak
chrome-win/locales/es.pak
chrome-win/locales/et.pak
chrome-win/locales/fa.pak
chrome-win/locales/fi.pak
chrome-win/locales/fil.pak
chrome-win/locales/fr.pak
chrome-win/locales/gu.pak
chrome-win/locales/he.pak
chrome-win/locales/hi.pak
chrome-win/locales/hr.pak
chrome-win/locales/hu.pak
chrome-win/locales/id.pak
chrome-win/locales/it.pak
chrome-win/locales/ja.pak
chrome-win/locales/kn.pak
chrome-win/locales/ko.pak
chrome-win/locales/lt.pak
chrome-win/locales/lv.pak
chrome-win/locales/ml.pak
chrome-win/locales/mr.pak
chrome-win/locales/ms.pak
chrome-win/locales/nb.pak
chrome-win/locales/nl.pak
chrome-win/locales/pl.pak
chrome-win/locales/pt-BR.pak
chrome-win/locales/pt-PT.pak
chrome-win/locales/ro.pak
chrome-win/locales/ru.pak
chrome-win/locales/sk.pak
chrome-win/locales/sl.pak
chrome-win/locales/sr.pak
chrome-win/locales/sv.pak
chrome-win/locales/sw.pak
chrome-win/locales/ta.pak
chrome-win/locales/te.pak
chrome-win/locales/th.pak
chrome-win/locales/tr.pak
chrome-win/locales/uk.pak
chrome-win/locales/ur.pak
chrome-win/locales/vi.pak
chrome-win/locales/zh-CN.pak
chrome-win/locales/zh-TW.pak
